.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card{
  
  width: 40vw;
  margin: 30px auto;
}

/* .contact-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

@keyframes slide-in {
  from {
        transform: translateX(-15%);
        opacity: 0;
      }
  to {
      transform: translateX(0%);
      opacity: 1;
    }
}

.contact {
  animation: slide-in 0.25s ease-in;

}

.input{
  width: 30vw;
  margin: 0 auto;
}