.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card{
  
  width: 40vw;
  margin: 30px auto;
}



@keyframes slide-in {
  from {
        transform: translateX(-15%);
        opacity: 0;
      }
  to {
      transform: translateX(0%);
      opacity: 1;
    }
}

.contact {
  animation: slide-in 0.25s ease-in;

}

.input{
  width: 40vw;
  margin: 0 auto;
}

.buttons{
  margin: 10px;
}

.button{
  display: flex;
  width: 145px;
  margin: 0 auto;

}

@media(max-width: 900px){
  .card{
    width: 90vw;
  }
  .input{
    width: 90vw;
  }
  .newInputs{
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
}

